.rsschool {
  display: flex;
  align-items: flex-end;
  font-size: 28px;
  color: var(--green);
}

.rsschool__text {
  margin-right: 30px;
  opacity: .9;
}

.rsschool__ref {
  opacity: .6;
  width: 150px;
  height: 59px;
  transition: .6s;
}

.rsschool__ref:hover {
  transition: .6s;
  opacity: 1;
}

.rsschool__svg {
  width: 100%;
  height: 100%;
  fill: var(--green);
}
